{"filter":false,"title":".gitignore","tooltip":"/society_score/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":40,"column":0},"end":{"row":41,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":41,"column":0},"end":{"row":41,"column":5},"action":"insert","lines":["/.env"],"id":3}]]},"ace":{"folds":[],"scrolltop":300,"scrollleft":0,"selection":{"start":{"row":41,"column":5},"end":{"row":41,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/ini"}},"timestamp":1678172790977,"hash":"7ee94340bee2dc62e48e2f08f665e3330606786c"}